<div class="card">
    <img class="card-img-top" src="https://i.ytimg.com/vi/Mi1owViNFXM/maxresdefault.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <ul>
        <li><i class="fa fa-edit"></i></li>
        <li><i class="fa fa-edit"></i></li>
        <li></li>
      </ul>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Address </b><br>123</li>
      <li class="list-group-item"><b>City </b></li>
      <li class="list-group-item"><b>State </b></li>
      <li class="list-group-item"><b>Zip </b></li>
      <li class="list-group-item"><b>Rent </b></li>
      <li class="list-group-item"><b>Leaes Length </b></li>
      <li class="list-group-item"><b>Bedroom </b></li>
      <li class="list-group-item"><b>Bathroom </b></li>
      <li class="list-group-item"><b>Units </b></li>
    </ul>
</div>