<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a routerLink="snippets" (click)="changeRoute('')"  class="sidenav-link">Dashboard</a>
    </li>
    <li class="nav-item">
      <a routerLink="properties" (click)="changeRoute('properties')" class="sidenav-link" href="#">Properties <span class="sr-only">(current)</span></a>
      <span routerLink="./properties" (click)="showPropertyForm = !showPropertyForm"><i class="fa fa-plus" aria-hidden="true"></i></span>      
    </li>
    <li class="nav-item">
      <a routerLink="tenants" class="sidenav-link" href="#">Tenants</a>
      <span routerLink="tenants"><i class="fa fa-plus" aria-hidden="true"></i></span>      
    </li>
    <li class="nav-item">
      <a routerLink="finances" class="sidenav-link">Finances</a>
    </li>
    <li class="nav-item">
      <a class="sidenav-link" href="#">Settings</a>
    </li>
</ul>

<div class="add-property-form" [ngClass]="{showPropertyForm: showPropertyForm, hidePropertyForm: !showPropertyForm}">
    <div class="form-overlay"></div>
    <app-add-property></app-add-property>
</div>

