<app-home-nav></app-home-nav>  
<div class="container-fluid">
    <div class="row">
      
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <app-sidenav></app-sidenav>
      </nav>

      <!-- maing dashboard view  -->
      <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1>Dashboard</h1>

        <!-- count preview section -->
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <app-property-count></app-property-count>
            </div>
            <div class="col-md-4 col-xs-12">
                <app-tenant-count></app-tenant-count>            
            </div>
            <div class="col-md-4 col-xs-12">
                <app-finance-count></app-finance-count>            
            </div>
        </div>
      </main>
    </div>
</div>